.currentCustomer {
    font-weight: bold;
}



.userlist {
    margin-bottom: 100px;

}



.pagination {
    
}

.pagination li {
    display: inline-block;
    margin: auto 5px;
}

.pagination li a {
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
}


.pagination .current a {
    font-weight: bolder;
    color: #000;
}



.error {
    color: red;
    font-weight: bold;
}