{% extends "layouts/master.twig" %}

{% block content %}
    <div class="container" style="margin-top:5%;">
        <div class="row">
            <div class="six columns offset-by-three" style="text-align: center;">
                <h1>404 Not Found</h1>
            </div>
        </div>
    </div>
{% endblock %}




