{% extends "layouts/master.twig" %}


{% block content %}
    <div class="container" style="margin-top:5%;">
        <div class="row">

            <div class="six columns offset-by-three" style="text-align: center;">
                <h1>Ooops...</h1>

                <img src="/images/basse.jpg">

                <h4>Siden du prøvde å gå til finnes ikkje!</h4>

                <p><a href="/">Klikk her</a> for å gå tilbake</p>

            </div>
        </div>
    </div>
{% endblock %}




