{% extends "layouts/dashboard.twig" %}


{% block content %}

    <h4>Velkommen til PRO KS Status Panel.</h4>

    <p>Her finner du informasjon om bestilte og leverte brukere, kundeliste og ein oversikt over aktive brukere.</p>

    {{ "test"|trans }}

{% endblock %}




