{% extends "layouts/dashboard.twig" %}


{% block content %}

    <div class="container" style="margin-top:10%;">
        <div class="row">
            Home
        </div>
    </div>

{% endblock %}




