<!DOCTYPE html>
<html lang="no">
<head>
    <!-- Basic Page Needs
    ----------------------------------------------------------------------------------- -->
    <title>PRO KS Status Panel</title>
    <meta charset="utf-8">


    <!-- Mobile Specific Metas
    ----------------------------------------------------------------------------------- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ----------------------------------------------------------------------------------- -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS
    ----------------------------------------------------------------------------------- -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/css/select2.min.css"/>
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Favicon
    ----------------------------------------------------------------------------------- -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>

</head>
<body>

<!-- Primary Page Layout
----------------------------------------------------------------------------------- -->
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="three columns">
            {% if session.customer_info.name %}
                Aktiv Kunde:
                <span class="currentCustomer">{{ session.customer_info.name }}</span>
            {% endif %}

            {% if not session.customer_info.name %}
                Ingen kunde er valgt
            {% endif %}
        </div>

        <div class="nine columns">
            <h1><a style="text-decoration: none; color: #333;" href="{{ urlFor("home") }}"><i class="fa fa-wrench"></i> HelgeApp</a></h1>
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            Stuff here
        </div>

        <div class="nine columns">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<!-- Scripts
  ----------------------------------------------------------------------------------- -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/notify.min.js"></script>
<script src="/js/custom.js"></script>

{% block script %}{% endblock %}

{% if flash['error'] %}
    <script>
        $.notify("{{ flash['error'] }}", "error");
    </script>
{% endif %}

{% if flash['info'] %}
    <script>
        $.notify("{{ flash['info'] }}", "info");
    </script>
{% endif %}

</body>
</html>